<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Formulario generico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
    
</head>
<body>
    <div class="container">  
        <form id="contact" action="/" method="post">
          <h3>Form TACS</h3>
          <h4>Contactarse a la puta que te pario</h4>
          <fieldset>
            <input placeholder="Your name" name="name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Your sirname" name="apellido" type="text" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Your Email Address" name="email" type="text" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input placeholder="Your Phone Number (optional)" name="tel" type="text" tabindex="4" required>
          </fieldset>
          <fieldset>
            <input placeholder="Your Web Site (optional)" name="web" type="url" tabindex="5">
          </fieldset>
          <fieldset>
            <textarea placeholder="Type your message here...." name="comentario" tabindex="6" ></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
          <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">FH. Quizas sea robado</a></p>
        </form>
      </div>
</body>
</html>